{
    "extends": [
//        "airbnb/rules/es6"
    ],
    "parser": "babel-eslint",

    "env": {
        // allows us to use all the mocha globals
        "mocha": true
    },

    // Indicate this codebase uses ES6 modules
    "sourceType": "module",

    // custom rules
    "rules": {
        // http://eslint.org/docs/rules/quotes.html
        // allows 'single quotes', 'internal "double" quotes' and `es6 backticks`
        "quotes": [2, "single"],

        // http://eslint.org/docs/rules/space-in-parens
        // forces no spaces inside of parentheses
        "space-in-parens": [2, "never"],

        // http://eslint.org/docs/rules/array-bracket-spacing
        // forces no spaces inside of brackets
        "array-bracket-spacing": [2, "never"],

        // http://eslint.org/docs/rules/computed-property-spacing
        // forces no spacing within computed properties
        "computed-property-spacing": [2, "never"],

        // http://eslint.org/docs/rules/object-curly-spacing
        // forces no spacing within curly braces (for objects / destructuring)
        "object-curly-spacing": [2, "never"],

        // http://eslint.org/docs/rules/keyword-spacing
        // forces spacing after keywords (eg 'if')
        "keyword-spacing": 2,

        // http://eslint.org/docs/rules/key-spacing
        // forces spacing after keys in an object
        "key-spacing": [2, {"beforeColon": false, "afterColon": true}],

        // http://eslint.org/docs/rules/comma-dangle
        // forces no comma dangle (the optional final comma in an object or array definition)
        "comma-dangle": [2, "never"],

        // http://eslint.org/docs/rules/semi
        // forces the use of semi-colons where valid
        "semi": [2, "always"],

        // http://eslint.org/docs/rules/no-unused-vars
        // rule for detecting unused vars (and imports)
        "no-unused-vars": 2,

        // http://eslint.org/doc/rules/no-multiple-empty-lines
        // rule for detecting more than 1 empty line
        "no-multiple-empty-lines": [2, {"max": 1}],

        // http://eslint.org/docs/rules/prefer-spread
        // rule for enforcing use of spread operator over .apply()
        "prefer-spread": 2,

        // http://eslint.org/docs/rules/prefer-template
        // rule for enforcing backtick string interpolation over concatenation
        "prefer-template": 2,

        // http://eslint.org/docs/rules/no-unneeded-ternary
        // rule for detecting ternary statements when a simpler alternative exists
        "no-unneeded-ternary": [2, {"defaultAssignment": false}],

        // http://eslint.org/docs/rules/dot-notation
        // rule for enforcing dot notation for accessing an object's properties
        "dot-notation": 2,

        // http://eslint.org/docs/rules/no-multi-spaces
        // rule for detecting extra spaces
        "no-multi-spaces": 2,

        // http://eslint.org/docs/rules/yoda
        // rule for detecting yoda conditionals (literal first)
        "yoda": 2
    }
}
